<!DOCTYPE html>
<html lang="en">
{% extends "fresher/index.html" %}
{% block body_block %}
<div class="container">
    <h1>Edit Resume</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{edit.as_p}}
                 <input type="submit" value="Edit" class="btn btn-secondary">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}